* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    background-color: whitesmoke;
}

#navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgb(169, 174, 174);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
    align-items: center;
}

#navigation .right ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;

}

#navigation .left {
    font-size: 1.5rem;
    font-weight: bold;

    margin-left: 1.5rem;

}

#navigation .right {
    font-size: 1.5rem;
    font-weight: bold;

    margin-right: 1.5rem;

}

#about {
    text-align: center;
    font-size: 2rem;

}

#headshot img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;


}

#more-info {
    justify-content: center;
    display: flex;

}

#bio {
    max-width: 56rem;
}
